:root {
    --monotone: rgb(220, 227, 238);
    --linear: rgb(85, 181, 236 );
    --skyblue:  rgb(35, 56, 148); 
}
/* 85, 181, 236 */
body {
    background-color: var(--monotone);
    
}

.navbar {
    background-color: var(--linear);
}

.btn {
    background-color: var(--monotone);
}

.containercard {
    background-color: var(--linear);
    
}


.card-text {
    margin: 20px 0 20px 0;
}

footer img {
    bottom:0;
    right:0;
}

header h1, h3 {
    color: var(--skyblue);
}

#cardContainer {
    padding: 100px;
    display: flex;
    justify-content: space-between;
}